<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs')%>
<body>
<%-include('../partials/nav.ejs') %>
</body>
    <a href="#" class="top">↑</a>
    <% allActors.sort((a, b) => a.name.localeCompare(b.name)) %>
    <div class="all-actors">
        <% for(let i=0; i < allActors.length; i++){ %>
            <% const actor=allActors[i]%>
            <div class="actor-index-container">
                <a href='/actors/<%=actor._id%>'>
                    <img class="actor-index-img" src='<%=actor.image%>'>
                </a>
                <p><a class="actor-name" href='/actors/<%=actor._id%>'><%=actor.name%></a></p>
            </div>
        <%}%>
    </div>

</html>