<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/nav.ejs')%>
    <h1><%=oneMovie.name%></h1>
    <img class="show-image" src="<%=oneMovie.image%>" alt="<%=oneMovie.name%>">
    <section>
        <h2>Year: <%=oneMovie.year%></h2>
        <h2>Rating: <%=oneMovie.rating%></h2>
        <h2>Genre: <%=oneMovie.genre%></h2>
        <h2>Actors: </h2>
        <% for (let i = 0; i < oneMovie.actors.length; i++){ %>
            <div class="actor-thumb">
                <img src="<%=oneMovie.actors[i].image%>"/>
                <h3> <a href='/actors/<%=oneMovie.actors[i]._id%>'><%=oneMovie.actors[i].name%></a></h3>
            </div>
       <% } %>
    </section>

</body>
</html>